version: "3.8"

services:
  olympiccamp-db:
    image: mariadb:latest
    command: ["mariadbd", "--port=3307"]
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: change-me
      MYSQL_DATABASE: wordpress_oc
      MYSQL_USER: wp_user_oc
      MYSQL_PASSWORD: change-me
    volumes:
      - db_data_oc:/var/lib/mysql
    networks:
      - wp-internal

  wordpress:
    image: wordpress:latest
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: olympiccamp-db:3307
      WORDPRESS_DB_USER: wp_user_oc
      WORDPRESS_DB_PASSWORD: change-me
      WORDPRESS_DB_NAME: wordpress_oc
      WORDPRESS_CONFIG_EXTRA: |
        define('FS_METHOD', 'direct');
    volumes:
      - wordpress_data_oc:/var/www/html
    depends_on:
      - olympiccamp-db
    networks:
      - npm_default
      - wp-internal

  ftp:
    image: stilliard/pure-ftpd
    restart: unless-stopped
    environment:
      PUBLICHOST: 87.106.81.201
      FTP_USER_NAME: wpftp
      FTP_USER_PASS: change-me
      FTP_USER_HOME: /var/www/html
      FTP_USER_UID: 33
      FTP_USER_GID: 33
    volumes:
      - wordpress_data_oc:/var/www/html
    ports:
      - "26:21"
      - "21210-21220:21210-21220"
    command: >
      pure-ftpd
      -l puredb:/etc/pure-ftpd/pureftpd.pdb
      -E
      -j
      -R
      -P 87.106.81.201
      --chrooteveryone
      --noanonymous
      --passiveportrange 21210:21220
    networks:
      - npm_default

volumes:
  db_data_oc:
  wordpress_data_oc:

networks:
  npm_default:
    external: true
    name: npm_default
  wp-internal:
    driver: bridge
